
<form (ngSubmit)="onSubmit()" class="custom-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name"  name="name" [(ngModel)]="formData.name" required>
    </div>
    <div class="form-group">
      <label for="bloc">Bloc:</label>
      <input type="text" id="bloc" maxlength="1" minlength="1" name="bloc" [(ngModel)]="formData.bloc" required>
    </div>
    <div class="form-group">
      <label for="capacity">Capacity:</label>
      <input type="number" id="capacity" min="1" max="4" name="capacity" [(ngModel)]="formData.capacity" required>
    </div>
    <button  type="submit" class="btn btn-success m-2">Submit</button>
    <button  #closeButton type="button" class="btn btn-primary m-2" data-dismiss="modal">Close</button>
  </form>
  
  