#MyChartpie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 10cm;
}

#MyChartpie {
    max-width: 100%;
    /* Ensure the canvas doesn't exceed the container's width */
    max-height: 100%;
    /* Ensure the canvas doesn't exceed the container's height */
}