/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add more custom styles as needed */
}

.toast-success {
    background-color: #4caf50;
    color: #fff;
}

.toast-error {
    background-color: red;
    color: #fff;
}

.toast-warning {
    background-color: yellow;
    color: #111;
}

.toast-info {
    background-color: rgb(0, 225, 255);
    color: #fff;
}

.toast-show {
    background-color: rgb(255, 0, 238);
    color: #00e1ff;
}