<div *ngIf="Ressources && Ressources.length > 0; else noDataTemplate">
  <table>
    <thead>
      <tr>
        <th>Date_ajout</th>
        <th>Description</th>
        <th>Type</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ressource of Ressources">
        <td>{{ ressource.Date_ajout }}</td>
        <td>{{ ressource.Description }}</td>
        <td>{{ ressource.Type }}</td>
        <td>{{ ressource.content }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noDataTemplate>
  <p>No Resources found.</p>
</ng-template>
<router-outlet></router-outlet>